Source: hello
Section: devel
Priority: optional
Maintainer: Wilton Runtime <alex.staticlibs+wilton@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/wiltonruntime

Package: hello
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A hello app
	An app hello
