Package: hello
Version: 1.0-1
Architecture: amd64
Maintainer: root <root@unknown>
Installed-Size: 30
Depends: libc6 (>= 2.2.5)
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
